/* body
{
    background-color: rgba(255, 115, 0, 0.836);
}
h1
{
color:blueviolet;
}
h2
{
    color:brown;
}
#p1
{
    color:rebeccapurple;
}

#p2
{
    color:red;
}
.center
{
    color:green;
} */

h1{
    background-color: lawngreen;
    padding:10px;
    margin-top:10px;
}
body
{
    background-image:url(test.jpg);
}