.container
{
    display:flex;
    background-color: orange;
    /* flex-direction: column; */
}

.a
{
    min-width: 150px;
    height:150px;
    background-color: lawngreen;
}

.b
{
    min-width: 150px;
    height:150px;
    background-color: lightseagreen;
}

.c
{
    min-width: 150px;
    height:150px;
    background-color: midnightblue;
}