body
{
    
}

.main-container
{
    width:100%;
}

.flex-container
{
    width:100%;
    display:flex;
    background-color:black;
    height:100px;
}

.menu
{
    min-width: 200px;
    color:white;
    font-size: x-large;
    text-align: center;
    padding-top: 35px;
    
}

.image-container
{
    display:flex;
    position:relative;
    text-align: center;
}

#banner-image
{
    width: 100%;
    opacity: 0.8;
}

.banner-title
{
    position: absolute;
    top: 30%;
    left:35%;
    font-size: 5em;
}

.banner-subtitle
{
    position: absolute;
    top:40%;
    left:45%;
    font-size: 2em;
}